@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #eae8ea;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

.progressBarContainer {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
  margin: 1rem;
}

.progressBarContainer .active {
  opacity: 1;
}

.progressBar {
  height: 100%;
  background-color: rgb(39, 39, 255);
  border-radius: 4px;
}
